In [1]:
import hkvsobekpy as hkv
hkv.__version__

'1.5'

In [2]:
fp_base = '/DATAFOLDER/projects/3815_30/data/rksHBV216/hisfiles/Afkanaal.lit/t01_000_BNDFLODT.HIS'
fp_test = '/DATAFOLDER/projects/3815_30/data/rksHBV216/hisfiles/Afkanaal.lit/t01_001_BNDFLODT.HIS'

In [3]:
%%time
his = hkv.read_his.ReadMetadata(fp_base)

CPU times: user 528 ms, sys: 83.9 ms, total: 612 ms
Wall time: 609 ms

In [4]:
%%time
# read his-base from fp_base
df_base = his.DataFrame()
df_base.head()

CPU times: user 41.4 ms, sys: 241 µs, total: 41.7 ms
Wall time: 40 ms

           Boundary Level [m AD             Flow [m3/s] avg
                              1 Afw. kanaal                    1 Afw. kanaal
1999-01-01                  0.5         0.5                  0.0    0.000000
1999-01-02                  0.5         0.5                  0.0   14.203320
1999-01-03                  0.5         0.5                  0.0   13.268001
1999-01-04                  0.5         0.5                  0.0   11.125848
1999-01-05                  0.5         0.5                  0.0    9.346498

In [5]:
%%time
# use metadata of his-base to read fp_test
his.hisFile.hisFileName = fp_test
df_test = his.DataFrame()
df_test.head()

CPU times: user 37.6 ms, sys: 230 µs, total: 37.8 ms
Wall time: 36.1 ms

           Boundary Level [m AD             Flow [m3/s] avg
                              1 Afw. kanaal                    1 Afw. kanaal
1999-01-01                  0.5         0.5                  0.0    0.000000
1999-01-02                  0.5         0.5                  0.0   14.217094
1999-01-03                  0.5         0.5                  0.0   13.300286
1999-01-04                  0.5         0.5                  0.0   11.162338
1999-01-05                  0.5         0.5                  0.0    9.385917

In [6]:
# for comparison the 'old method' (not anymore recommended for 'normal' usages)

In [7]:
%%time
his.MultiWaardenArray(his.GetLocations(), his.GetParameters()).head()

CPU times: user 5.5 s, sys: 307 ms, total: 5.81 s
Wall time: 5.8 s

parameters Flow [m3/s] avg           Boundary Level [m AD
locations           Afw. kanaal    1          Afw. kanaal    1
date
1999-01-01             0.000000  0.0                  0.5  0.5
1999-01-02            14.217094  0.0                  0.5  0.5
1999-01-03            13.300286  0.0                  0.5  0.5
1999-01-04            11.162338  0.0                  0.5  0.5
1999-01-05             9.385917  0.0                  0.5  0.5